//           oooo                  oooo                .                         
//           `888                  `888              .o8                         
//   .oooo.o  888  oooo   .ooooo.   888   .ooooo.  .o888oo  .ooooo.  ooo. .oo.   
//  d88(  "8  888 .8P'   d88' `88b  888  d88' `88b   888   d88' `88b `888P"Y88b  
//  `"Y88b.   888888.    888ooo888  888  888ooo888   888   888   888  888   888  
//  o.  )88b  888 `88b.  888    .o  888  888    .o   888 . 888   888  888   888  
//  8""888P' o888o o888o `Y8bod8P' o888o `Y8bod8P'   "888" `Y8bod8P' o888o o888o 



// Note: Design for a width of 320px

.container { width: 300px; }
.container .columns,
.container .column { margin: 0; }

.container .one.column,
.container .one.columns,
.container .two.columns,
.container .three.columns,
.container .four.columns,
.container .five.columns,
.container .six.columns,
.container .seven.columns,
.container .eight.columns,
.container .nine.columns,
.container .ten.columns,
.container .eleven.columns,
.container .twelve.columns,
.container .thirteen.columns,
.container .fourteen.columns,
.container .fifteen.columns,
.container .sixteen.columns,
.container .one-third.column,
.container .two-thirds.column  { width: 300px; }

// Offsets
.container .offset-by-one,
.container .offset-by-two,
.container .offset-by-three,
.container .offset-by-four,
.container .offset-by-five,
.container .offset-by-six,
.container .offset-by-seven,
.container .offset-by-eight,
.container .offset-by-nine,
.container .offset-by-ten,
.container .offset-by-eleven,
.container .offset-by-twelve,
.container .offset-by-thirteen,
.container .offset-by-fourteen,
.container .offset-by-fifteen { padding-left: 0; }