//  oooo   o8o             oooo            .    .o8                             
//  `888   `"'             `888          .o8   "888                             
//   888  oooo   .oooooooo  888 .oo.   .o888oo  888oooo.   .ooooo.  oooo    ooo 
//   888  `888  888' `88b   888P"Y88b    888    d88' `88b d88' `88b  `88b..8P'  
//   888   888  888   888   888   888    888    888   888 888   888    Y888'    
//   888   888  `88bod8P'   888   888    888 .  888   888 888   888  .o8"'88b   
//  o888o o888o `8oooooo.  o888o o888o   "888"  `Y8bod8P' `Y8bod8P' o88'   888o 
//              d"     YD                                                       
//              "Y88888P'                                                       

.box{
	position: fixed;
	background: #eee;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5% 0;
	margin: 0 auto;
}
.box img{
	background:#fff;
	border: 1px solid #aaa;
	border-radius: 2px;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	padding: 5px;
}
.box p{
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 2px;
	margin: 10px auto;
	padding: 5px;
	width: 400px;
}
@media only screen and (max-width: 767px){
	.box p{
		max-width: 100%;
		margin: 5px auto;
	}
}