//                                            .   
//                                          .o8   
//  oooo d8b  .ooooo.   .oooo.o  .ooooo.  .o888oo 
//  `888""8P d88' `88b d88(  "8 d88' `88b   888   
//   888     888ooo888 `"Y88b.  888ooo888   888   
//   888     888    .o o.  )88b 888    .o   888 . 
//  d888b    `Y8bod8P' 8""888P' `Y8bod8P'   "888" 



html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend{
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
}