//           oooo                  oooo                .                         
//           `888                  `888              .o8                         
//   .oooo.o  888  oooo   .ooooo.   888   .ooooo.  .o888oo  .ooooo.  ooo. .oo.   
//  d88(  "8  888 .8P'   d88' `88b  888  d88' `88b   888   d88' `88b `888P"Y88b  
//  `"Y88b.   888888.    888ooo888  888  888ooo888   888   888   888  888   888  
//  o.  )88b  888 `88b.  888    .o  888  888    .o   888 . 888   888  888   888  
//  8""888P' o888o o888o `Y8bod8P' o888o `Y8bod8P'   "888" `Y8bod8P' o888o o888o 
                                                                                 
                                                                                 
                                                                                 
// Skeleton V1.2
// Copyright 2011, Dave Gamache
// www.getskeleton.com
// Free to use under the MIT license.
// http://www.opensource.org/licenses/mit-license.php
// 6/20/2012


// #Base 960 Grid ==================================================

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    // Nested Column Classes
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    // Base Grid
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    // Offsets
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



// #Clearing ==================================================

    // Self Clearing Goodness
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    // Use clearfix class on parent to clear nested columns,
    // or wrap each row of columns in a <div class="row">
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    // You can also use a <br class="clear" /> to clear columns
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }