//                                        .                .o8                 
//                                      .o8               "888                 
//  oooo    ooo  .ooooo.  oooo  oooo  .o888oo oooo  oooo   888oooo.   .ooooo.  
//   `88.  .8'  d88' `88b `888  `888    888   `888  `888   d88' `88b d88' `88b 
//    `88..8'   888   888  888   888    888    888   888   888   888 888ooo888 
//     `888'    888   888  888   888    888 .  888   888   888   888 888    .o 
//      .8'     `Y8bod8P'  `V88V"V8P'   "888"  `V88V"V8P'  `Y8bod8P' `Y8bod8P' 
//  .o..P'                                                                     
//  `Y8P'                                                                      

.youtube{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 1%;
	margin:1% 0 0 0;
}

.video {
	background: url('../img/grey.bmp');
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video iframe, .video object, .video embed {

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.entry-content img, .entry-content iframe, .entry-content object, .entry-content embed {
	max-width: 100%;
}