//                                  o8o             .o8       oooo                     
//                                  `"'            "888       `888                     
//  oooo    ooo  .oooo.   oooo d8b oooo   .oooo.    888oooo.   888   .ooooo.   .oooo.o 
//   `88.  .8'  `P  )88b  `888""8P `888  `P  )88b   d88' `88b  888  d88' `88b d88(  "8 
//    `88..8'    .oP"888   888      888   .oP"888   888   888  888  888ooo888 `"Y88b.  
//     `888'    d8(  888   888      888  d8(  888   888   888  888  888    .o o.  )88b 
//      `8'     `Y888""8o d888b    o888o `Y888""8o  `Y8bod8P' o888o `Y8bod8P' 8""888P' 



@textColor:                 #111;

@backgroundColor:           #fff;
@backgroundColorAlt:        #00aaaf;
@backgroundColorSubtle:     #fcfcfc;

@hyperlinkColor:            #333;

@borderColor:               #ddd;
@borderRadius:              2px;
@borderCircle:              100%; //width & height must be equal!

@fontHeading:               Georgia, "Times New Roman", serif;
@fontBody:                  Helvetica, Arial, sans-serif;
@fontCode:                  Consolas, Courier, monospace;

@MediaQueryTabletPortrait:  ~"only screen and (min-width: 768px) and (max-width: 959px)";
@MediaQueryMobileAll:       ~"only screen and (max-width: 767px)";
@MediaQueryMobileLandscape: ~"only screen and (min-width: 480px) and (max-width: 767px)";
@MediaQueryMobilePortrait:  ~"only screen and (max-width: 479px)";