//           oooo                  oooo                .                         
//           `888                  `888              .o8                         
//   .oooo.o  888  oooo   .ooooo.   888   .ooooo.  .o888oo  .ooooo.  ooo. .oo.   
//  d88(  "8  888 .8P'   d88' `88b  888  d88' `88b   888   d88' `88b `888P"Y88b  
//  `"Y88b.   888888.    888ooo888  888  888ooo888   888   888   888  888   888  
//  o.  )88b  888 `88b.  888    .o  888  888    .o   888 . 888   888  888   888  
//  8""888P' o888o o888o `Y8bod8P' o888o `Y8bod8P'   "888" `Y8bod8P' o888o o888o 



// Note: Design for a width of 768px

.container                                  { width: 768px; }
.container .column,
.container .columns                         { margin-left: 10px; margin-right: 10px;  }
.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
.alpha.omega                                { margin-left: 0; margin-right: 0; }

.container .one.column,
.container .one.columns                     { width: 28px; }
.container .two.columns                     { width: 76px; }
.container .three.columns                   { width: 124px; }
.container .four.columns                    { width: 172px; }
.container .five.columns                    { width: 220px; }
.container .six.columns                     { width: 268px; }
.container .seven.columns                   { width: 316px; }
.container .eight.columns                   { width: 364px; }
.container .nine.columns                    { width: 412px; }
.container .ten.columns                     { width: 460px; }
.container .eleven.columns                  { width: 508px; }
.container .twelve.columns                  { width: 556px; }
.container .thirteen.columns                { width: 604px; }
.container .fourteen.columns                { width: 652px; }
.container .fifteen.columns                 { width: 700px; }
.container .sixteen.columns                 { width: 748px; }

.container .one-third.column                { width: 236px; }
.container .two-thirds.column               { width: 492px; }

// Offsets
.container .offset-by-one                   { padding-left: 48px; }
.container .offset-by-two                   { padding-left: 96px; }
.container .offset-by-three                 { padding-left: 144px; }
.container .offset-by-four                  { padding-left: 192px; }
.container .offset-by-five                  { padding-left: 240px; }
.container .offset-by-six                   { padding-left: 288px; }
.container .offset-by-seven                 { padding-left: 336px; }
.container .offset-by-eight                 { padding-left: 384px; }
.container .offset-by-nine                  { padding-left: 432px; }
.container .offset-by-ten                   { padding-left: 480px; }
.container .offset-by-eleven                { padding-left: 528px; }
.container .offset-by-twelve                { padding-left: 576px; }
.container .offset-by-thirteen              { padding-left: 624px; }
.container .offset-by-fourteen              { padding-left: 672px; }
.container .offset-by-fifteen               { padding-left: 720px; }