//   .o8       oooo                      oooo           oooo                                  oooo               oooo                                                        .            
//  "888       `888                      `888           `888                                  `888               `888                                                      .o8            
//   888oooo.   888   .ooooo.   .ooooo.   888  oooo      888   .ooooo.  oooo    ooo  .ooooo.   888      .ooooo.   888   .ooooo.  ooo. .oo.  .oo.    .ooooo.  ooo. .oo.   .o888oo  .oooo.o 
//   d88' `88b  888  d88' `88b d88' `"Y8  888 .8P'       888  d88' `88b  `88.  .8'  d88' `88b  888     d88' `88b  888  d88' `88b `888P"Y88bP"Y88b  d88' `88b `888P"Y88b    888   d88(  "8 
//   888   888  888  888   888 888        888888.        888  888ooo888   `88..8'   888ooo888  888     888ooo888  888  888ooo888  888   888   888  888ooo888  888   888    888   `"Y88b.  
//   888   888  888  888   888 888   .o8  888 `88b.      888  888    .o    `888'    888    .o  888     888    .o  888  888    .o  888   888   888  888    .o  888   888    888 . o.  )88b 
//   `Y8bod8P' o888o `Y8bod8P' `Y8bod8P' o888o o888o    o888o `Y8bod8P'     `8'     `Y8bod8P' o888o    `Y8bod8P' o888o `Y8bod8P' o888o o888o o888o `Y8bod8P' o888o o888o   "888" 8""888P' 



.footer{
	margin-bottom:25px;
	margin-top:25px;
}

hr,
br{
	clear: both;
}
hr{
	color: #ddd;
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin: 15px 0;
}
hr.big{
	height: 10px;
}