//   .o88o.                                               
//   888 `"                                               
//  o888oo   .ooooo.  oooo d8b ooo. .oo.  .oo.    .oooo.o 
//   888    d88' `88b `888""8P `888P"Y88bP"Y88b  d88(  "8 
//   888    888   888  888      888   888   888  `"Y88b.  
//   888    888   888  888      888   888   888  o.  )88b 
//  o888o   `Y8bod8P' d888b    o888o o888o o888o 8""888P' 



input[type=submit],
input[type=button]{
	background: @backgroundColorSubtle;
	border: 1px solid @borderColor;
	border-radius: @borderRadius;
	display: block;
	padding: 3px 5px;
}
input[type=text],
input[type=password]{
	background: @backgroundColorSubtle;
	border: 1px solid @borderColor;
	border-radius: @borderRadius;
	display: block;
	margin: 0 3px 15px 3px;
	padding: 3px 5px;
	width: 250px;
}
label{
	float: none;
	margin: 0 0 5px 0;
	padding: 3px 5px;
	width: 110px;
}
select{
	border: 1px solid @borderColor;
	border-radius: @borderRadius;
	padding: 5px;
}
textarea{
	background: @backgroundColorSubtle;
	border: 1px solid #ccc;
	border-radius: @borderRadius;
	display: block;
	padding: 5px;
	resize: vertical;
}
form{
	fieldset{
		border: 1px solid #eee;
		border-radius: @borderRadius;
		padding: 15px;
		margin: 10px 0 0 0;

		.form-help{
			font-size: 12px;
			color: #999;
		}
	}

	ul{
		li{
			list-style: none;
			margin: 0;
		}
	}
}