.thumbnail{
	background: @backgroundColor;
	border: 1px solid @borderColor;
	border-radius: @borderRadius;
	display: block;
	margin: 5px auto;
	padding: 4px;
	width: 90%;

	&:hover{
		background: @borderColor;
	}
}