//                                                           .o8                                     .o8  
//                                                          "888                                    "888  
//  oooo  oooo  ooo. .oo.            .ooooo.  oooo d8b  .oooo888   .ooooo.  oooo d8b  .ooooo.   .oooo888  
//  `888  `888  `888P"Y88b          d88' `88b `888""8P d88' `888  d88' `88b `888""8P d88' `88b d88' `888  
//   888   888   888   888  8888888 888   888  888     888   888  888ooo888  888     888ooo888 888   888  
//   888   888   888   888          888   888  888     888   888  888    .o  888     888    .o 888   888  
//   `V88V"V8P' o888o o888o         `Y8bod8P' d888b    `Y8bod88P" `Y8bod8P' d888b    `Y8bod8P' `Y8bod88P" 



ul{
	li{
		list-style-type: square;
		margin: 5px 0 0 20px
	}

	ul{
		li{
			list-style-type: circle;
			margin: 5px 0 0 40px
		}
	}
}









//                           .o8                                     .o8  
//                          "888                                    "888  
//   .ooooo.  oooo d8b  .oooo888   .ooooo.  oooo d8b  .ooooo.   .oooo888  
//  d88' `88b `888""8P d88' `888  d88' `88b `888""8P d88' `88b d88' `888  
//  888   888  888     888   888  888ooo888  888     888ooo888 888   888  
//  888   888  888     888   888  888    .o  888     888    .o 888   888  
//  `Y8bod8P' d888b    `Y8bod88P" `Y8bod8P' d888b    `Y8bod8P' `Y8bod88P" 



ol{
	li{
		list-style-type: decimal;
		margin: 5px 0 0 20px
	}

	ol{
		li{
			list-style-type: lower-alpha;
			margin: 5px 0 0 40px
		}
	}
}









//                                 o8o                    .o8                            .   
//                                 `"'                   "888                          .o8   
//  ooo. .oo.    .ooooo.          oooo  ooo. .oo.    .oooo888   .ooooo.  ooo. .oo.   .o888oo 
//  `888P"Y88b  d88' `88b         `888  `888P"Y88b  d88' `888  d88' `88b `888P"Y88b    888   
//   888   888  888   888 8888888  888   888   888  888   888  888ooo888  888   888    888   
//   888   888  888   888          888   888   888  888   888  888    .o  888   888    888 . 
//  o888o o888o `Y8bod8P'         o888o o888o o888o `Y8bod88P" `Y8bod8P' o888o o888o   "888" 



ul.no-indent{
	li{
		list-style: none;
		margin: 5px 0 0 0;
		padding: 0;
	}

	ul{
		li{
			list-style: none;
			margin: 5px 0 0 0;
			padding: 0 0 0 20px;
		}
	}
}









//   .o8                                          .o8                                                    .o8                
//  "888                                         "888                                                   "888                
//   888oooo.  oooo d8b  .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b oooo  oooo  ooo. .oo.  .oo.    888oooo.   .oooo.o 
//   d88' `88b `888""8P d88' `88b `P  )88b  d88' `888  d88' `"Y8 `888""8P `888  `888  `888P"Y88bP"Y88b   d88' `88b d88(  "8 
//   888   888  888     888ooo888  .oP"888  888   888  888        888      888   888   888   888   888   888   888 `"Y88b.  
//   888   888  888     888    .o d8(  888  888   888  888   .o8  888      888   888   888   888   888   888   888 o.  )88b 
//   `Y8bod8P' d888b    `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b     `V88V"V8P' o888o o888o o888o  `Y8bod8P' 8""888P' 



nav.breadcrumb{
	color: #ccc;
	font-size: 14px;

	a{
		color: #999;
		margin: 0 5px;
		text-decoration: none;
	
		&:first-child{
			margin-left: 0;
		}

		&:hover,
		&:focus{
			color: #333;
		}

		&:active{
			color: #666;
		}
	}

	strong{
		color: #333;
		font-weight: bold;
		margin-left: 5px;
	}
}









//        .o8             .o88o.  o8o               o8o      .    o8o                                 
//       "888             888 `"  `"'               `"'    .o8    `"'                                 
//   .oooo888   .ooooo.  o888oo  oooo  ooo. .oo.   oooo  .o888oo oooo   .ooooo.  ooo. .oo.    .oooo.o 
//  d88' `888  d88' `88b  888    `888  `888P"Y88b  `888    888   `888  d88' `88b `888P"Y88b  d88(  "8 
//  888   888  888ooo888  888     888   888   888   888    888    888  888   888  888   888  `"Y88b.  
//  888   888  888    .o  888     888   888   888   888    888 .  888  888   888  888   888  o.  )88b 
//  `Y8bod88P" `Y8bod8P' o888o   o888o o888o o888o o888o   "888" o888o `Y8bod8P' o888o o888o 8""888P' 



dl{
	dd{
		color: #666;
		font-size: 14px;
		line-height: 1.4;
		margin: 0 0 10px 0;
	}

	dt{
		font-size: 16px;
		font-weight: bold;
		line-height: 1.2;
	}
}









//               .                 .    o8o               .    o8o                     
//             .o8               .o8    `"'             .o8    `"'                     
//   .oooo.o .o888oo  .oooo.   .o888oo oooo   .oooo.o .o888oo oooo   .ooooo.   .oooo.o 
//  d88(  "8   888   `P  )88b    888   `888  d88(  "8   888   `888  d88' `"Y8 d88(  "8 
//  `"Y88b.    888    .oP"888    888    888  `"Y88b.    888    888  888       `"Y88b.  
//  o.  )88b   888 . d8(  888    888 .  888  o.  )88b   888 .  888  888   .o8 o.  )88b 
//  8""888P'   "888" `Y888""8o   "888" o888o 8""888P'   "888" o888o `Y8bod8P' 8""888P' 



.stats-tabs{
	li{
		border-right: 1px solid #ccc;
		float: left;
		list-style: none;
		margin: 0 10px 0 0;
		padding: 0 10px 0 0;

		&:last-child{
			border: none;
			margin: 0;
			padding: 0;
		}

		a{
			display: block;
			float: left;
			font-size: 18px;
			font-weight: bold;

			span{
				display: block;
				font-size: 13px;
				font-weight: normal;
				margin-top: 2px;
			}
		}
	}
}








//           oooo                .            
//           `888              .o8            
//   .oooo.o  888   .oooo.   .o888oo  .oooo.o 
//  d88(  "8  888  `P  )88b    888   d88(  "8 
//  `"Y88b.   888   .oP"888    888   `"Y88b.  
//  o.  )88b  888  d8(  888    888 . o.  )88b 
//  8""888P' o888o `Y888""8o   "888" 8""888P' 



ul.slats li{
	border-bottom: 1px solid #eee;
	list-style-type: none;
	margin: 0 0 12px 0;
	padding: 0 0 12px 0;

	&:last-child{
		border-bottom: none;
		margin: 0;
		padding: 0;
	}

	a{
		text-decoration: none;

		img{
			background: @backgroundColor;
			border: 1px solid @borderColor;
			border-radius: @borderRadius;
			float: left;
			height: 56px;
			margin: 0 10px 0 0;
			padding: 4px;
			width: 56px;

			&:hover{
				background: @borderColor;
			}
		}


		p{
			color: #555;
			font-size: 14px;
			line-height: 1.3;
			margin: 0 0 0 76px;

			.meta{
				color: #999;
				display: block;
				font-size: 12px;
			}
		}

		.title{
			font-size: 16px;
			font-weight: bold;
			line-height: 1.1;
		}
	}
}