//                       o8o             o8o                         
//                       `"'             `"'                         
//  oo.ooooo.  oooo d8b oooo   .ooooo.  oooo  ooo. .oo.    .oooooooo 
//   888' `88b `888""8P `888  d88' `"Y8 `888  `888P"Y88b  888' `88b  
//   888   888  888      888  888        888   888   888  888   888  
//   888   888  888      888  888   .o8  888   888   888  `88bod8P'  
//   888bod8P' d888b    o888o `Y8bod8P' o888o o888o o888o `8oooooo.  
//   888                                                  d"     YD  
//  o888o                                                 "Y88888P'  

.pricing-table{
	float: left;
font-family: @fontBody;
  margin: 1px 0 0 -1px;
}

.pricing-table h3{
	text-align: center;
  color: #fff;
  padding: 6px 0;
  margin: 0;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
}

.pricing-table ul{
	padding: 10px 0 0 0;
  border: 1px solid #e0e0e0;
  border-top: 0;
  background: #fff;
}

.pricing-table li{
	color: #888;
	list-style: none;
	background: #fff;
	margin: 0;
	text-align: center;
	padding: 4px 10px;
}

li.sign-up{
	border-top: 1px solid #e0e0e0;
	background: #fafafa;
	padding: 12px 0;
	margin-top: 10px;
}

.pricing-table h3,
.pricing-table h4{
	text-align:center;
	color:#fff;
	margin:0;
}


.pricing-table h4{
	font-family:inherit;
	padding:12px 0 10px 0;
}

.price,.time{
	display:block;font-family:inherit;
	line-height:20px;
}

.price{
	font-size:24px;
	font-weight:400;
}

span.time{
	font-size:12px;
	font-weight:200;
}

.pricing-table.featured ul{
	padding:10px 0 0 0;
	border:1px solid #e0e0e0;
	border-top:0;
	background:#fff;
}

.pricing-table.featured h3{
	padding:11px 0 13px 0;
	margin:-12px 0 0 0;
}

.pricing-table.featured li.sign-up{
	border-top:1px solid #e0e0e0;
	background:#fafafa;
	padding:18px 0;
	margin-top:10px; }

.pricing-table .color-1 h3{
	background-color:#909090;
}

.pricing-table .color-1 h4{
	background-color:gray;
}

.pricing-table .color-2 h3{
	background-color:#565656;
}

.pricing-table .color-2 h4{
	background-color:#4c4c4c;
}

.pricing-table .color-3 h3{
	background-color:#3dafea;
}

.pricing-table .color-3 h4{
	background-color:#169fe6;
}


.pricing-table a.button{
	background: #ddd;
	border: 1px solid #ccc;
	display: block;
	padding: 3px 5px;
	margin: 0 auto;
	text-align: center;
	width:60px;
}