//               .                                      .                                  
//             .o8                                    .o8                                  
//   .oooo.o .o888oo oooo d8b oooo  oooo   .ooooo.  .o888oo oooo  oooo  oooo d8b  .ooooo.  
//  d88(  "8   888   `888""8P `888  `888  d88' `"Y8   888   `888  `888  `888""8P d88' `88b 
//  `"Y88b.    888    888      888   888  888         888    888   888   888     888ooo888 
//  o.  )88b   888 .  888      888   888  888   .o8   888 .  888   888   888     888    .o 
//  8""888P'   "888" d888b     `V88V"V8P' `Y8bod8P'   "888"  `V88V"V8P' d888b    `Y8bod8P' 



html{
	font-size: 14px;
	font-family: @fontBody;
	overflow-y: scroll;
	color: @textColor;
}

body{
	background: @backgroundColor;
}



.left{
	float: left;
}
.center{
	margin: 0 auto;
}
.right{
	float: right;
}









//            oooo      .                        .               oooo                         oooo                                                 
//            `888    .o8                      .o8               `888                         `888                                                 
//   .oooo.    888  .o888oo          .oooo.o .o888oo oooo    ooo  888   .ooooo.      .ooooo.   888   .oooo.    .oooo.o  .oooo.o  .ooooo.   .oooo.o 
//  `P  )88b   888    888           d88(  "8   888    `88.  .8'   888  d88' `88b    d88' `"Y8  888  `P  )88b  d88(  "8 d88(  "8 d88' `88b d88(  "8 
//   .oP"888   888    888   8888888 `"Y88b.    888     `88..8'    888  888ooo888    888        888   .oP"888  `"Y88b.  `"Y88b.  888ooo888 `"Y88b.  
//  d8(  888   888    888 .         o.  )88b   888 .    `888'     888  888    .o    888   .o8  888  d8(  888  o.  )88b o.  )88b 888    .o o.  )88b 
//  `Y888""8o o888o   "888"         8""888P'   "888"     .8'     o888o `Y8bod8P'    `Y8bod8P' o888o `Y888""8o 8""888P' 8""888P' `Y8bod8P' 8""888P' 
//                                                   .o..P'                                                                                        
//                                                   `Y8P'                                                                                         

.alt{
	background: @textColor;
	color: @backgroundColor;
}