//      .              .o8       oooo                     
//    .o8             "888       `888                     
//  .o888oo  .oooo.    888oooo.   888   .ooooo.   .oooo.o 
//    888   `P  )88b   d88' `88b  888  d88' `88b d88(  "8 
//    888    .oP"888   888   888  888  888ooo888 `"Y88b.  
//    888 . d8(  888   888   888  888  888    .o o.  )88b 
//    "888" `Y888""8o  `Y8bod8P' o888o `Y8bod8P' 8""888P' 



table{
	margin: 0;
	padding: 0;
	border-spacing: 1px;
	border-collapse: collapse;
	border: 1px solid @borderColor;
	width: 100%;

	tr{
		th,
		td{
			padding: 10px;
			text-align: left;
			border: 1px solid @borderColor;
		}
		th{
		}

		td{
			color: #666;
		}

		th,
		&:hover{
			background: darken(@backgroundColorSubtle, 3%);
		}
	}
}