//  oooo                                  .o8   o8o                                  
//  `888                                 "888   `"'                                  
//   888 .oo.    .ooooo.   .oooo.    .oooo888  oooo  ooo. .oo.    .oooooooo  .oooo.o 
//   888P"Y88b  d88' `88b `P  )88b  d88' `888  `888  `888P"Y88b  888' `88b  d88(  "8 
//   888   888  888ooo888  .oP"888  888   888   888   888   888  888   888  `"Y88b.  
//   888   888  888    .o d8(  888  888   888   888   888   888  `88bod8P'  o.  )88b 
//  o888o o888o `Y8bod8P' `Y888""8o `Y8bod88P" o888o o888o o888o `8oooooo.  8""888P' 
//                                                               d"     YD           
//                                                               "Y88888P'           

h1,
h2,
h3,
h4,
h5,
h6{
	color: inherit;
	font-family: @fontHeading;
	font-weight: normal;
	margin: 0 0 5px 0;
}


h1{
	font-size: 70px;
}

.logo{
	font-size: 120px;
	padding: 20px 0 0 0;
	margin: 0 0 25px 0;
}

h2{ font-size: 60px; }
h3{ font-size: 50px; }
h4{ font-size: 40px; }
h5{ font-size: 30px; }
h6{ font-size: 20px; }

p{
	color: @textColor;
	font-family: @fontBody;
	font-size: 14px;
}

ul.menu{
	text-align: right;

	li{
		color: #555;
		display: inline-block;
		font-family: @fontBody;
		font-weight: bold;
		margin: 90px 0 0 0;
		padding: 4px 5px;
	}
}









//  oooo                                                  oooo   o8o              oooo                 
//  `888                                                  `888   `"'              `888                 
//   888 .oo.   oooo    ooo oo.ooooo.   .ooooo.  oooo d8b  888  oooo  ooo. .oo.    888  oooo   .oooo.o 
//   888P"Y88b   `88.  .8'   888' `88b d88' `88b `888""8P  888  `888  `888P"Y88b   888 .8P'   d88(  "8 
//   888   888    `88..8'    888   888 888ooo888  888      888   888   888   888   888888.    `"Y88b.  
//   888   888     `888'     888   888 888    .o  888      888   888   888   888   888 `88b.  o.  )88b 
//  o888o o888o     .8'      888bod8P' `Y8bod8P' d888b    o888o o888o o888o o888o o888o o888o 8""888P' 
//              .o..P'       888                                                                       
//              `Y8P'       o888o                                                                      

a{
	&:link,
	&:visited,
	&:active{
		color: @textColor;
	}

	&:hover{
		color: @backgroundColorAlt;
	}
}









//                     o8o                            .                             .      oooo                                  oooo               oooo                                                        .            
//                     `"'                          .o8                           .o8      `888                                  `888               `888                                                      .o8            
//  ooo. .oo.  .oo.   oooo   .oooo.o  .ooooo.     .o888oo  .ooooo.  oooo    ooo .o888oo     888   .ooooo.  oooo    ooo  .ooooo.   888      .ooooo.   888   .ooooo.  ooo. .oo.  .oo.    .ooooo.  ooo. .oo.   .o888oo  .oooo.o 
//  `888P"Y88bP"Y88b  `888  d88(  "8 d88' `"Y8      888   d88' `88b  `88b..8P'    888       888  d88' `88b  `88.  .8'  d88' `88b  888     d88' `88b  888  d88' `88b `888P"Y88bP"Y88b  d88' `88b `888P"Y88b    888   d88(  "8 
//   888   888   888   888  `"Y88b.  888            888   888ooo888    Y888'      888       888  888ooo888   `88..8'   888ooo888  888     888ooo888  888  888ooo888  888   888   888  888ooo888  888   888    888   `"Y88b.  
//   888   888   888   888  o.  )88b 888   .o8      888 . 888    .o  .o8"'88b     888 .     888  888    .o    `888'    888    .o  888     888    .o  888  888    .o  888   888   888  888    .o  888   888    888 . o.  )88b 
//  o888o o888o o888o o888o 8""888P' `Y8bod8P'      "888" `Y8bod8P' o88'   888o   "888"    o888o `Y8bod8P'     `8'     `Y8bod8P' o888o    `Y8bod8P' o888o `Y8bod8P' o888o o888o o888o `Y8bod8P' o888o o888o   "888" 8""888P' 



abbr{
	border-bottom: 1px @backgroundColorAlt dotted;
}

b,
strong{
	font-weight: bold;
}

i,
em{
	font-style: italic;
}

del{
	text-decoration: line-through;
}
ins{
	text-decoration: underline;
}

kbd{
	background: @backgroundColor;
	border: 1px solid @borderColor;
	border-radius: @borderRadius;
	font-weight: bold;
	line-height: 22px;
	padding: 1px 3px;
}
code,
samp{
	font-family: @fontCode;
	font-style: oblique;
}
var{
	color: @backgroundColorAlt;
	font-family: @fontCode;
	font-style: oblique;
}

sub,
sup{
	font-size: 12px;
}

blockquote{
	border-left: 1px solid #ddd;
	color: #444;
	padding: 0 10px;
}
blockquote p{
	margin: 0 0 5px 0;
}
cite:before{
	content: '— ';
}

mark{
	background: @backgroundColorAlt;
	border-radius: @borderRadius;
	color: @backgroundColor;
	font-weight: bold;
	padding: 0 3px;
}
mark.alt{
	background: @textColor;
}

pre{
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: @borderRadius;
	font-family: consolas, courier, monospace;
	font-size: 10px;
	overflow-x: scroll;
	padding: 10px;
	white-space: pre;
	width: 100%;
}









// 	    .                             .                              oooo                          .    o8o                        
//    .o8                           .o8                              `888                        .o8    `"'                        
//  .o888oo  .ooooo.  oooo    ooo .o888oo          .oooo.o  .ooooo.   888   .ooooo.   .ooooo.  .o888oo oooo   .ooooo.  ooo. .oo.   
//    888   d88' `88b  `88b..8P'    888           d88(  "8 d88' `88b  888  d88' `88b d88' `"Y8   888   `888  d88' `88b `888P"Y88b  
//    888   888ooo888    Y888'      888   8888888 `"Y88b.  888ooo888  888  888ooo888 888         888    888  888   888  888   888  
//    888 . 888    .o  .o8"'88b     888 .         o.  )88b 888    .o  888  888    .o 888   .o8   888 .  888  888   888  888   888  
//    "888" `Y8bod8P' o88'   888o   "888"         8""888P' `Y8bod8P' o888o `Y8bod8P' `Y8bod8P'   "888" o888o `Y8bod8P' o888o o888o 



::-moz-selection{
	background: @backgroundColorAlt;
}
var::-moz-selection{
	color: @backgroundColor;
	background: @textColor;
}

::selection{
	background: @backgroundColorAlt;
}
var::selection{
	color: @backgroundColor;
	background: @textColor;
}