@media @MediaQueryMobileAll{

	ul.menu{
		text-align: center;

		li{
			margin: 0;
		}
	}

	.logo{
		font-size: 80px;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	hr{
		height: 1px;
		margin: 10px 0;
	}

	label{
		float: left;
	}

	.pricing-table{
		float: none;
		margin: 15px 0 0 -1px; 
	}

	.pricing-table.featured h3{
		padding: 11px 0 13px 0;
		margin: 0;
	}

	.pricing-table.featured li.sign-up{
		padding:12px 0;
	}

	ul.slats li a{
		img{
			height: 42px;
			width: 42px;
		}

		p{
			font-size: 12px;
			margin: 0 0 0 62px;
		}
	}

}